{% extends 'base.html' %}

{% block title %}Welcome to the E-Commerce Platform{% endblock %}

{% block content %}
<style>
    .btn-custom {
        background-color: #FF8E2B; /* Button background color */
        color: #0D2137; /* Button text color */
        border: 2px solid #2E77AE; /* Button border color */
    }

    .btn-custom:hover {
        background-color: #e67e22; /* Slightly darker shade for hover effect */
        border-color: #2E77AE; /* Keep border color consistent */
        color: #0D2137; /* Button text color on hover */
    }

    .text-dark {
        color: #0D2137; /* Dark text color */
    }

    .text-secondary {
        color: #0D2137; /* Secondary text color */
    }

    .card-img-top {
        height: 100%;
        width: auto;
        max-width: 100%;
    }
</style>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <!-- Store Image -->
                <div class="d-flex justify-content-center align-items-center" style="height: 300px; overflow: hidden;">
                    <img src="{{ store.store_pic.url }}" class="card-img-top" alt="{{ store.name }}">
                </div>

                <div class="card-body text-center">
                    <!-- Store Name -->
                    <h1 class="card-title mb-3 text-dark">{{ store.name }}</h1>
                    
                    <!-- Store Description -->
                    <p class="card-text mb-4 text-secondary">{{ store.description }}</p>
                    
                    <!-- Action Buttons -->
                    <div class="d-flex flex-column flex-md-row justify-content-center">
                        <a href="{% url 'update_store' store.pk %}" class="btn btn-custom mb-2 mb-md-0 me-md-2">Edit Store</a>
                        <a href="{% url 'delete_store' store.pk %}" class="btn btn-custom mb-2 mb-md-0 me-md-2">Delete Store</a>
                        <a href="{% url 'create_product' store.pk %}" class="btn btn-custom mb-2 mb-md-0 me-md-2">Add Product</a>
                        <a href="{% url 'product_list' store.pk %}" class="btn btn-custom mb-2 mb-md-0 me-md-2">Products</a>
                        <a href="{% url 'product_analytics' store.pk %}" class="btn btn-custom mb-2 mb-md-0">View Analytics</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
