{% extends 'base.html' %}

{% block title %}{{ product.name }} - Product Detail{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-6 d-flex justify-content-center">
            <div class="product-image">
                <img src="{{ product.product_pic.url }}" alt="{{ product.name }}" class="img-fluid rounded shadow-sm">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="product-details">
                <h2 class="product-title mb-3">{{ product.name }}</h2>
                <p class="product-description mb-4">{{ product.description }}</p>
                <div class="product-info mb-4">
                    <p class="product-stock"><strong>Stock Available:</strong> {{ product.stock }}</p>
                    <p class="product-price"><strong>Price:</strong> ${{ product.price }}</p>
                </div>
                {% if product.stock > 0 %}
                <button type="button" class="btn btn-primary btn-lg" onclick="location.href='{% url 'add_to_cart' product_id=product.id %}'">Add to Cart</button>
                {% else %}
                <p class="text-danger">Out of Stock</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
