{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card shadow-lg border-0 rounded">
                <div class="card-body p-5">
                    <div class="text-center mb-4">
                        <h1 class="card-title mb-3">{{ product.name }}</h1>
                        <img src="{{ product.product_pic.url }}" alt="{{ product.name }}" class="img-fluid" style="max-width: 100%; height: auto;">
                    </div>
                    <div class="mb-4">
                        <p class="lead mb-2"><strong>Description:</strong></p>
                        <p class="text-muted">{{ product.description }}</p>
                        <p class="lead mb-2"><strong>Price:</strong></p>
                        <p class="text-muted">$ {{ product.price }}</p>
                        <p class="lead mb-2"><strong>Stock:</strong></p>
                        <p class="text-muted">{{ product.stock }}</p>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'update_product' store_id=product.store.id pk=product.pk %}" class="btn btn-primary btn-lg me-2">Edit Product</a>
                        <a href="{% url 'delete_product' store_id=product.store.id pk=product.pk %}" class="btn btn-danger btn-lg me-2">Delete Product</a>
                        <a href="{% url 'product_list' store_id=product.store.id %}" class="btn btn-secondary btn-lg">Back to Products List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
