{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow-lg border-0 rounded">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                        <h1 class="card-title mb-3" style="color: #343a40;">{{ product.name }}</h1>
                        <img src="{{ product.product_pic.url }}" alt="{{ product.name }}" class="img-fluid" style="max-width: 100%; height: auto; border: 2px solid #dee2e6;">
                    </div>
                    <div class="mb-4">
                        <p class="lead mb-2" style="color: #495057;"><strong>Description:</strong></p>
                        <p class="text-muted">{{ product.description }}</p>
                        <p class="lead mb-2" style="color: #495057;"><strong>Price:</strong></p>
                        <p class="text-muted" style="color: #28a745;">$ {{ product.price }}</p>
                        <p class="lead mb-2" style="color: #495057;"><strong>Stock:</strong></p>
                        <p class="text-muted">{{ product.stock }}</p>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'update_product' store_id=product.store.id pk=product.pk %}" class="btn btn-primary me-2">Edit Product</a>
                        <a href="{% url 'delete_product' store_id=product.store.id pk=product.pk %}" class="btn btn-danger me-2">Delete Product</a>
                        <a href="{% url 'product_list' store_id=product.store.id %}" class="btn btn-secondary">Back to Products List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
