{% extends 'base.html' %}

{% block title %}{{ product.name }} - Product Detail{% endblock %}

{% block content %}
<style>
    .btn-custom {
        background-color: #FF8E2B; /* Button background color */
        color: #0D2137; /* Button text color */
        border: 2px solid #2E77AE; /* Button border color */
    }

    .btn-custom:hover {
        background-color: #e67e22; /* Slightly darker shade for hover effect */
        border-color: #2E77AE; /* Keep border color consistent */
        color: #0D2137; /* Button text color on hover */
    }

    .product-title {
        color: #0D2137; /* Title text color */
    }

    .product-description {
        color: #0D2137; /* Description text color */
    }

    .product-info p {
        color: #0D2137; /* Product info text color */
    }

    .text-danger {
        color: #d32f2f; /* Out of Stock text color */
    }
</style>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-6 d-flex justify-content-center">
            <div class="product-image">
                <div class="d-flex justify-content-center align-items-center" style="height: 300px; width: 300px; overflow: hidden;">
                    <img src="{{ product.product_pic.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 100%; width: 100%; ">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="product-details">
                <h2 class="product-title mb-3">{{ product.name }}</h2>
                <p class="product-description mb-4">{{ product.description }}</p>
                <div class="product-info mb-4">
                    <p class="product-stock"><strong>Stock Available:</strong> {{ product.stock }}</p>
                    <p class="product-price"><strong>Price:</strong> ${{ product.price }}</p>
                </div>
                {% if product.stock > 0 %}
                <button type="button" class="btn btn-custom btn-lg" onclick="location.href='{% url 'add_to_cart' product_id=product.id %}'">Add to Cart</button>
                {% else %}
                <p class="text-danger">Out of Stock</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
