{% extends 'base.html' %}

{% block title %}Products for {{ store.name }}{% endblock %}

{% block content %}
<style>
    .btn-custom {
        background-color: #FF8E2B; /* Button background color */
        color: #0D2137; /* Button text color */
        border: 2px solid #2E77AE; /* Button border color */
    }

    .btn-custom:hover {
        background-color: #e67e22; /* Slightly darker shade for hover effect */
        border-color: #2E77AE; /* Keep border color consistent */
        color: #0D2137; /* Button text color on hover */
    }

    .sellerproduct-title, 
    .sellerproduct-description, 
    .sellerproduct-price, 
    .sellerproduct-stock {
        color: #0D2137; /* Text color for product details */
    }
</style>

<div class="container mt-4">
    <h1 class="mb-4" style="color: #0D2137;">{{ store.name }} - Products</h1>
    <a href="{% url 'create_product' store.id %}" class="btn btn-custom mb-4">Add Product</a>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card sellerproduct-card">
                <div class="d-flex justify-content-center align-items-center" style="height: 300px; width: 300px; overflow: hidden;">
                    <img src="{{ product.product_pic.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 100%; width: 100%; ">
                </div>
                <div class="card-body">
                    <h5 class="card-title sellerproduct-title">{{ product.name }}</h5>
                    <p class="card-text sellerproduct-description">{{ product.description }}</p>
                    <p class="card-text sellerproduct-price">Price: ${{ product.price }}</p>
                    <p class="card-text sellerproduct-stock">Stock: {{ product.stock }}</p>
                    <a href="{% url 'update_product' store.id product.id %}" class="btn btn-custom sellerproduct-btn">Edit</a>
                    <a href="{% url 'delete_product' store.id product.id %}" class="btn btn-custom sellerproduct-btn" >Delete</a>
                    <a href="{% url 'product_detail' store_id=store.id pk=product.pk %}" class="btn btn-custom sellerproduct-btn">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
