{% extends 'base.html' %}

{% block title %}Order Success{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card bg-light text-dark border-warning">
        <div class="card-body text-center">
            <h2 class="card-title mb-4 text-warning">Thank you for your order!</h2>
            <p class="card-text mb-2">Your order ID is: <strong>{{ order.order_id }}</strong></p>
            <p class="card-text">Total amount: <strong>${{ order.total_amount }}</strong></p>
        </div>
    </div>
</div>
{% endblock %}
