{% extends 'base.html' %}

{% block title %}Your Profile{% endblock %}

{% block content %}
<style>
    /* Custom Color Scheme */
    .btn-primary {
        background-color: #FF8E2B; /* Button background color */
        border-color: #2E77AE; /* Button border color */
        color: #ffffff; /* Button text color */
    }

    .btn-primary:hover {
        background-color: #e65c00; /* Darker orange on hover */
        border-color: #2E77AE; /* Button border color on hover */
    }

    .text-dark {
        color: #0D2137; /* Text color */
    }
</style>

<div class="container mt-5">
    <div class="card bg-light shadow border-0 rounded">
        <div class="card-body text-center">
            <h2 class="card-title mb-4 text-dark">Your Profile</h2>
            <div class="profile-info mb-4">
                <p class="lead text-dark"><strong>Username:</strong> {{ user.username }}</p>
                <p class="lead text-dark"><strong>Email:</strong> {{ user.email }}</p>
                <p class="lead text-dark"><strong>Phone Number:</strong> {{ user.phone_number }}</p>
                <p class="lead text-dark"><strong>Address:</strong> {{ user.address }}</p>
            </div>
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
</div>
{% endblock %}
